<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DaChuang.mapper.CarMapper">
    <insert id="addCar" parameterType="DaChuang.pojo.Car">
        insert into dachuang.`car-info`(stat, carId, carNum, points, carTime)
            value (#{stat}, #{carId}, #{carNum}, #{points}, #{carTime})
    </insert>
    <delete id="delCar" parameterType="Integer">
        delete from `car-info` where carId = #{id}
    </delete>
    <select id="selectCar" resultMap="map">
        select c.stat cstat,c.carId cid,c.carNum cN,c.points cp,c.carTime ctime, m.imgStr mstr
        from dachuang.`car-info` c, dachuang.`img-info` m  
        where c.carId = m.carId
#         limit 1 offset -1;
    </select>
    <resultMap id="map" type="DaChuang.pojo.JsonCar">
        <result property="stat" column="cstat"/>
        <result property="carId" column="cid"/>
        <result property="carNum" column="cN"/>
        <result property="points" column="cp"/>
        <result property="carTime" column="ctime"/>
        <collection property="img" ofType="java.lang.String">
            <result property="img" column="mstr"/>
        </collection>
    </resultMap>
</mapper>
