<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DaChuang.mapper.ImageMapper">
    <insert id="addImg" parameterType="DaChuang.pojo.Image">
        insert into `img-info`(imgStr, carId) VALUE (#{imgStr}, #{carId})
    </insert>
    <select id="selectImgById" resultType="java.lang.String">
        select imgStr from `img-info` where carId = #{carId}
    </select>
</mapper>
