<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="classpath:spring/spring-dao.xml"/>

    <!--    扫描包-->
    <context:component-scan base-package="DaChuang.service"/>

    <bean class="DaChuang.service.Imp.CarServiceImp" id="carService">
        <property name="carMapper" ref="carMapper"/>
    </bean>

    <bean class="DaChuang.service.Imp.ImageServiceImp" id="ImgService">
        <property name="imageMapper" ref="imageMapper"/>
    </bean>

    <bean id="carMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <property name="mapperInterface" value="DaChuang.mapper.CarMapper"/>
    </bean>


    <!--   配置声明式事务 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>
